
main #statics
{
    visibility: none !important;;
}

main .account-header .head-img, main .bottom-part .center{
    visibility: hidden;
    width: 0px;
}

main .bottom-part .phone{
    visibility: visible !important;

}

.head-img
{
    visibility: hidden !important;;
}


main, main .latest-posts, main .posts-section, main .posts-section #post, main .account-header{
    width: 358px;
}



main .account-header{
    height: 95px;
    gap: 0px;
}

main .account-header .bottom-part .left{
    margin-top: -45px;
}

main .posts-section #post{
    gap: 0px;
    flex-direction: column;
    height: 385px;
}

main .posts-section img{
    width: 338px;
    height: 186px;
    object-fit: cover;
}

main .posts-section .info{
    width: 100%;
    justify-content: space-between;
}

main .posts-section .right-section{
    width: 338px;
}